@model TrinhHuuTruong.eBookStore.Repositories.Entity_Model.Book

@{
    ViewData["Title"] = "Create Book";
}

<h1>Create Book</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookName" class="control-label">Book Name</label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Title" class="control-label">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label">Type</label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PublisherId" class="control-label">PublisherId</label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Price">Price</label>
                <input asp-for="Price" class="form-control" type="number" step="0.01"/>
                <span asp-validation-for="Price" class="text-danger"></span>
                @if (ViewData["Price"] != null)
                {
                    <span style="color:red;">@ViewData["Price"]</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="Advance" class="control-label">Advance</label>
                <input asp-for="Advance" class="form-control" />
                <span asp-validation-for="Advance" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Royalty" class="control-label">Royalty</label>
                <input asp-for="Royalty" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Royalty" class="text-danger"></span>
                @if (ViewData["Royalty"] != null)
                {
                    <span style="color:red;">@ViewData["Royalty"]</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="YtdSales" class="control-label">YtdSales</label>
                <input asp-for="YtdSales" class="form-control" type="number"/>
                <span asp-validation-for="YtdSales" class="text-danger"></span>
                @if (ViewData["YtdSales"] != null)
                {
                    <span style="color:red;">@ViewData["YtdSales"]</span>
                }
            </div>

            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notes</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PublishedDate" class="control-label">PublishedDate</label>
                <input asp-for="PublishedDate" class="form-control" />
                <span asp-validation-for="PublishedDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="ViewBook" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>